* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1e1e1e;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  height: auto;
  border: 5px solid green;
}

.box {
  width: 100%;
  height: auto;
  border: 2px solid red;
  padding: 0 2vw;
}


#block-1 {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logo {
  width: 8rem;
}

.title {
  width: 17rem;
}

.nav-items {
  width: 23rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-item a {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-decoration: none;
}

.header-dropdown {
  color: white;
  background-color: transparent;
  font-size: 1rem;
  border: none;
}

.option {
  color: black;
}

.article-1 {
  width: 45%;
  margin-bottom: 2rem;
}

.article-1-title {
  color: white;
  font-family: "Arimo", sans-serif;
  font-weight: normal;
}

.article-1-content p {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: justify;

}

.block-1-donate {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media only screen and (max-width: 1010px) {
  .container {
    width: 100vw;
  }

  .logo {
    width: 12vw;
  }
  
  .title {
    width: 25vw;
  }
  
  .nav-items {
    width: 40vw;
  }
  
  .nav-item a {
    font-size: 2vw;
  }
  
  .header-dropdown {
    font-size: 2vw;
  }
  
  .article-1 {
    margin: 0 auto;
  }
  
  .article-1-title {
    font-size: 2vw;
  }
  
  .article-1-content p {
    font-size: 1.5vw;
    line-height: 1.75vw;
  }
  
  .block-1-donate {
    font-size: 1.5vw;
    padding: 1.5vw;
  }

  .block-1-donate img {
    width: 1.5vw;
  }
}

/* ---------------------------------------------- */

#block-2 {
  background-color: #0057B8;
  background-image: url("../images/image_awm_desc.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  display: flex;
  padding: 0;
}

.column {
  width: 50%;
  /* height: 100%; */
}

.column-1 {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.column-1 img{
  width: 50%;
  margin : 2rem;
}

.column-2-content {
  margin: 3rem 0 6rem;
}

.column-2 p{
  width: 70%;
  margin: 3rem auto;
  font-family: "Arial", sans-serif;
}

.white {
  color: white;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: justify;
}

.black {
  background-color: white;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 700;
  padding: 0 1.5rem;
  text-transform: uppercase;
}

#block-3 {
  background-color: #FFD700;
}