* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1e1e1e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:black;
  text-decoration: none;
}

.app-container {
  margin: 0 auto;
  max-width: 1000px;
  height: auto;
  border: 5px solid green;
}

.box {
  width: 100%;
  height: auto;
  border: 2px solid red;
  padding: 0 2vw;
}


#block-1 {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logo {
  width: 8rem;
}

.title {
  width: 17rem;
}

.nav-items {
  width: 23rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-item a {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.header-dropdown {
  color: white;
  background-color: transparent;
  font-size: 1rem;
  border: none;
}

.option {
  color: black;
}

.article-1 {
  width: 45%;
  margin-bottom: 2rem;
}

.article-1-title {
  color: white;
  font-family: "Arimo", sans-serif;
  font-weight: normal;
}

.article-1-content p {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: justify;

}

.block-1-donate {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media only screen and (max-width: 1010px) {
  .container {
    width: 100vw;
  }

  .logo {
    width: 12vw;
  }
  
  .title {
    width: 25vw;
  }
  
  .nav-items {
    width: 40vw;
  }
  
  .nav-item a {
    font-size: 2vw;
  }
  
  .header-dropdown {
    font-size: 2vw;
  }
  
  .article-1 {
    margin: 0 auto;
  }
  
  .article-1-title {
    font-size: 2vw;
  }
  
  .article-1-content p {
    font-size: 1.5vw;
    line-height: 1.75vw;
  }
  
  .block-1-donate {
    font-size: 1.5vw;
    padding: 1.5vw;
  }

  .block-1-donate img {
    width: 1.5vw;
  }
}

/* ---------------------------------------------- */

#block-2 {
  background-color: #0057B8;
  background-image: url("../images/image_awm_desc.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  display: flex;
  padding: 0;
}

.column {
  width: 50%;
  /* height: 100%; */
}

.column-1 {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.column-1 img{
  width: 50%;
  margin : 2rem;
}

.column-2-content {
  margin: 3rem 0 6rem;
}

.column-2 p{
  width: 70%;
  margin: 3rem auto;
  font-family: "Arial", sans-serif;
}

.white {
  color: white;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: justify;
}

.black {
  background-color: white;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 700;
  padding: 0 1.5rem;
  text-transform: uppercase;
}

#safe-place {
  background-color: #FFD700;
}

.safe-place--title,
.safe-place--subtitle {
  font-family: "Arial", sans-serif;
  text-align: center;
  font-weight: 400;
}

.safe-place--title {
  /* some styling here */
}

.safe-place--subtitle {
  /* some styling here */
}

.safe-place--article,
.safe-place--map {
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}

.safe-place--img{
  width: 100%;
}

.safe-place--content {
  margin: 0 0 0.2rem;
  text-align: justify;
  font-family: "Arial";
  font-size: 1.1rem;
}

.safe-place--map {
  border: none;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border-radius: 0 0 0.5rem 0.5rem;
  margin-bottom: 2rem;
}

.safe-place--subscription {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0 1rem;
  height: 4rem;
}

.safe-place--email {
  color: black;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 1rem 0;
}

.safe-place--email::placeholder {
  color: black;
  font-size: 1.2rem;
}

.subscribe-button,
.messenger {
  background-color: white;
  border: none;
  width: 10.5rem;
  padding: 1rem 0;
  font-family: "Arial";
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center; 
}

.messengers {
  display: flex;
  margin: 0 1rem;
}

#projects {
  background-color: #A9BEC2;
}

.projects--article {
  display: flex;
  /* width: 80%; */
  margin: 2rem auto 0;
}

.projects--column {
  width: 50%;
  font-family: "Arial";
}

.projects--show-all {
  background-color: white;
  border: none;
  padding: 1rem;
  font-family: "Arial";
  font-size: 0.8rem;
  font-weight: bold;
}

.carousel {
  margin-bottom: 2rem;
}

.w-100 {
  height: 35rem;
}

.carousel-caption {
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

.caption--title,
.caption--content {
  font-weight: 900;
}

.caption--content span {
  font-weight: 400;
}

#news {
  background-color: white;
  font-family: "Arial";
}

.news--container {
  margin: 3rem 0 5rem;
}

#news ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
}

#news li {
  border-top: 1px solid black;
  font-size: 1.2rem;
  line-height: 1rem;
  margin-bottom: 4rem;
}

.news--date {
  font-size: 0.8rem;
  margin-right: 2rem;
}

.news--show-all {
  color: white;
  background-color: black;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.news--show-all img {
  margin-left: 10rem;
}